.signup-form{
    width:100%;
    margin: auto;
    background-color: rgb(146, 233, 214);
    border-radius: 15px;
    padding: 1rem;
}

.form-container{
    width:35%;
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 15px;
    padding: 1rem;
}
